-count = 1
-@events_json.each do |event|
	=event[:start_time].strftime('%b %d')
	%h3
		="#{event[:start_time].strftime('%l:%M %p')} - #{event[:end_time].strftime('%l:%M %p')}"
	%h3
		=link_to event[:name], event[:link], target: '_blank'
		%br
		="#{event[:rsvp_count]} going"
	%h4
		=event[:group]
	%br
	%button.description{"data-toggle"=> 'collapse', "data-target"=>"#description-#{count}", "aria-expanded"=>"false", "aria-controls"=>"description-#{count}"}
		Description
	.collapse.description{id: "description-#{count}"}
		foo
		-# =event[:description].html_safe
	%hr
	%br
	%br
	-count += 1

-# %button{"data-toggle"=> 'collapse', "data-target"=>"#foo", "aria-expanded"=>"false", "aria-controls"=>"foo"}
-# 	Foo
-# .collapse{id: "foo"}
-# 	foo

-# =@response
